* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #F9FAF8;
}

body {
    background-color: rgb(33, 41, 54);
    margin: 0 auto;
    width: 900px;
}

.content-one {
    display: flex;
    justify-content: space-around;
    max-height: 500px;
    flex: 0;
}

.right-aligned-content, .left-aligned-content {
    display: flex;
    flex-direction: column;
    color: lightblue;
}

.content-one .left-aligned-content .header {
    color: white;
}

.content-one .left-aligned-content .text, .content-one .right-aligned-content img {
    margin-top: auto;
    margin-bottom: auto;
}

.content-one .right-aligned-content ul {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin: 16px 0;
}

.content-one .right-aligned-content a {
    color: #E5E7EB;
    padding: 16px 0 16px 16px;
}

.content-one .right-aligned-content img {
    width: 450px;
    height: auto;
}

.content-one .left-aligned-content .text {
    max-width: 450px;
}

.content-one .left-aligned-content .text .big-text {
    font-size: 42px;
    font-weight: 900;
}

.content-one .left-aligned-content .text {
    font-size: 24px;
}
